* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.header {
  padding: 20px;
  color: rgba(10, 10, 184, 1);
  font-size: 25px;
  font-weight: bold;
  border-bottom: dashed 2px #FF0800;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #0093E9;
  font-size: 25px;
  font-weight: bold;
}

.sectionRules {
  width: 200px;
  border: dashed 1px blue;
  margin-top: 50px;
}

.sectionScore {
  border: dashed 1px blue;
  margin-top: 50px;
}

.score-display,
.lines-display {
  margin: 10px;
}

.startBtn {
  background-color: gold;
  color: rgba(10, 10, 184, 1);
  font-weight: bold;
  border-radius: 25%;
  border: 1px solid blue;
  padding: 15px;
  margin: 15px;
}

div {
  background-image: url('../images/stars.jpg');
  width: 20px;
  height: 20px;
}

.grid {
  background-color: blue;
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.previous-grid {
  height: 80px;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
}

.previous-shape {
  height: 80px;
  width: 80px;
  margin: 15px;
}

.block {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.block2 {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

}

.block3 {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 8%, rgba(10, 10, 184, 1) 95%, rgba(0, 212, 255, 1) 100%);
}